.idea/
target/
schemaspy.iml
.project
.classpath
.settings
/bin/
schemaspy.properties
bower_components/
*.iml
!ext-lib
ext-lib/**/*.jar
/src/test/resources/driverFolder/dummy/DummyDriver.class
/src/test/resources/driverFolder/dummy/DummyDriverAbstract.class
/src/test/resources/driverFolder/dummy/DummyDriverPrivateCtor.class
