<configuration>

    <conversionRule conversionWord="clr"
                    converterClass="org.schemaspy.logging.ColorConverter" />
    <conversionRule conversionWord="debugEx"
                    converterClass="org.schemaspy.logging.StackTraceOmitter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%clr(%-5level) - %msg%n%debugEx</pattern>
        </encoder>
    </appender>

    <logger name="org.schemaspy" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>