<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<conversionRule conversionWord="debugEx" converterClass="org.schemaspy.logging.StackTraceOmitter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %clr(%-5level) - %msg%n%debugEx
            </Pattern>
        </layout>
    </appender>

    <logger name="org.schemaspy" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="warn">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
