<!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>Columns</h1>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            <h3 class="box-title">Columns</h3>
                        </div>
                        <div class="box-body">
                            <table id="column_table" class="table table-bordered table-striped dataTable" role="grid">
                                <thead align='left'>
                                    <tr>
                                        <th>Table</th>
                                        <th>Type</th>
                                        <th>Column</th>
                                        <th>Type</th>
                                        <th>Size</th>
                                        <th title='Are nulls allowed?'>Nullable</th>
                                        <th title='Is column automatically updated?'>Auto</th>
                                        <th title='Default value'>Default</th>
                                        <th title='Comments' class="toggle"><span>Comments</span></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <script>
                    var tableData = {{{tableData}}};
                    var config = {
                        pagination: {{paginationEnabled}}
                    };
                </script>