<!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>Utility Tables</h1>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-code-fork"></i>
                            <h3 class="box-title">Orphan Tables</h3>
                        </div>
                        <div class="box-body">
                            <div id="grid" data-columns>
                                {{#diagrams}}
                                <div class="item">
                                    {{#isEmbed}}
                                    <object type="image/svg+xml" id="{{id}}" data="diagrams/orphans/{{fileName}}" style="max-width:100%;" border="0" align="top"></object>
                                    {{/isEmbed}}
                                    {{^isEmbed}}
                                    <img id="{{id}}" src="diagrams/orphans/{{fileName}}" usemap="#{{mapName}}" style="max-width:100%;" border="0" align="top">
                                    {{/isEmbed}}
                                </div>
                                {{/diagrams}}
                            </div>
                            {{#diagrams}}{{{map}}}{{/diagrams}}
                        </div>
                    </div>
                    {{^allWritten}}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i>Not all diagrams were created</h4>
                        <p>SchemaSpy was unable to generate diagrams for all orphan tables.<br />
                            Check application output for details.
                        </p>
                    </div>
                    {{/allWritten}}
                </section>