      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>Routines</h1>
      </section>

      <!-- Main content -->
      <section class="content">
		<div class="box box-primary">
			<div class="box-header with-border">
			  <i class="fa fa-file-code-o" aria-hidden="true"></i>
              <h3 class="box-title">Routines</h3>
            </div>	
            <div class="box-body">
				<div class="row">
					<div id="button_group_one" class="col-md-3 col-sm-6"></div>
					<div id="button_group_two" class="col-md-2 col-sm-4 pull-right text-right"></div>
				</div>
				<table id="routine_table" class="table table-bordered table-striped dataTable" role="grid">
				<thead align='left'>
				<tr>
				  <th>Name</th>
				  <th>Type</th>
				  <th>Language</th>
				  <th>Deterministic</th>
				  <th>Return Type</th>
				  <th title='Comments' class="toggle"><span>Comments</span></th>
				</tr>
				</thead>
				<tbody>
				{{#routines}}
				<tr>
					<td><a href="routines/{{name}}.html">{{name}}</a></td>
				 <td>{{type}}</td>
				 <td>{{definitionLanguage}}</td>
				 <td>{{deterministic}}</td>
				 <td>{{returnType}}</td>
				 <td>{{{comments}}}</td>
				</tr>
				{{/routines}}
				</tbody>
				</table>
			</div>
		</div>	
      </section>
	  <script>
          var config = {
	          pagination: {{paginationEnabled}}
          }
	  </script>