name: Development

on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - '*.md'
      - 'docs/**'

jobs:
  build:
    if: ${{ github.repository_owner == 'schemaspy' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
      - name: Install Graphviz
        run: sudo apt-get install graphviz
      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Build, Test, Sonar, Deploy
        run: >
          ./mvnw
          --batch-mode
          --update-snapshots
          --errors
          --show-version
          -P coverage
          -P sonar
          -P release
          verify
          deploy:deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Upload test output
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: testout
          path: |
            target/testout/
            !target/testout/**/bower/
            !target/testout/**/fonts/
            !target/testout/**/*.js
          retention-days: 7
      - name: Create latest.json
        if: success()
        run: |
          SCHEMASPY_VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)
          mkdir gh-pages
          cp .github/pages/* gh-pages/
          cp target/schemaspy-*-app.jar gh-pages/schemaspy-${SCHEMASPY_VERSION}.jar
          echo "{\"version\": \"${SCHEMASPY_VERSION}\", \"filename\": \"schemaspy-${SCHEMASPY_VERSION}.jar\"}" >> gh-pages/latest.json
      - name: Deploy to gh-pages
        if: success()
        uses: crazy-max/ghaction-github-pages@c0d7ff0487ee0415efb7f32dab10ea880330b1dd
        with:
          target_branch: gh-pages
          build_dir: gh-pages
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build docker image
        if: success()
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: "${{ github.repository }}:snapshot"
          build-args: |
            GIT_BRANCH=${{ github.ref_name }}
            GIT_REVISION=${{ github.sha }}
