name: Pull requests

on:
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - '*.md'
      - 'docs/**'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'
      - name: Install Graphviz
        run: sudo apt-get install graphviz
      - name: Build, Test
        run: >
          ./mvnw
          --batch-mode
          --update-snapshots
          --errors
          --show-version
          -P release
          verify
          -Dscm.revision=$GITHUB_SHA
      - name: Upload test output
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: testout
          path: |
            target/testout/
            !target/testout/**/bower/
            !target/testout/**/fonts/
            !target/testout/**/*.js
          retention-days: 7